@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');

:root {
  --main-bg-color: steelblue;
  --hover-bg-color: #5343c7;
  --active-bg-color: #22119d;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: none;
}

body{
  background: #ddd;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

/* ### CUSTOM SCROLLBAR ### */
body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);
  outline: 1px solid grey;
}

.wrapper .top_navbar{
	width: 100%;
	height: 65px;
	display: flex;
	position: fixed;
	top: 0;
}

.wrapper .top_navbar .logo{
	width: 250px;
	height: 100%;
  background: var(--main-bg-color);
  border-bottom: 1px solid var(--hover-bg-color);
}

.wrapper .top_navbar .logo a{
	display: block;
    text-align: center;
  	font-size: 28px;
  	color: #fff;
    padding: 20px 0;
}

.wrapper .top_navbar .top_menu{
	width: calc(100% - 250px);
	height: 100%;
	background: #fff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top_navbar .top_menu .home_link a{
	display: block;
  background: var(--main-bg-color);
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}

.wrapper .top_navbar .top_menu .home_link a:hover,
.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: var(--hover-bg-color);
}

.wrapper .top_navbar .right_info{
	display: flex;
}

.icon_wrap{
	padding: 8px 15px;
    border-radius: 3px;
    background: var(--main-bg-color);
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

#notificationButton.open {
  background: var(--active-bg-color);
}

#configButton.open {
  background: var(--active-bg-color);
}

.notification_menu {
  position: absolute;
  top: 52px;
  right: 100px;
  width: 200px;
  background: var(--main-bg-color);
  color: #fff;
  border-radius: 5px;
  display: none;
}

.notification_menu span {
 margin-left: 165px;
 font-size: 24px;
}

.notification_menu span:hover {
  cursor: pointer;
}

.notification_menu.open {
  display: block;
}

.notification_menu li {
  padding: 5px 15px;
}

.notification_menu li:hover {
  background-color: var(--hover-bg-color);
  cursor: pointer;
}

.config_menu {
  position: absolute;
  top: 52px;
  right: 45px;
  width: 200px;
  background: var(--main-bg-color);
  color: #fff;
  border-radius: 5px;
  display: none;
}

.config_menu span {
 margin-left: 165px;
 font-size: 24px;
}

.config_menu span:hover {
  cursor: pointer;
}

.config_menu.open {
  display: block;
}

.config_menu li {
  padding: 5px 15px;
}

.config_menu li:hover {
  background-color: var(--hover-bg-color);
  cursor: pointer;
}

.main_body .sidebar_menu{
	position: fixed;
  	top: 65px;
  	left: 0;
  	background: var(--main-bg-color);
  	width: 250px;
  	height: 100%;
  	transition: all 0.1s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu{
	position: relative;
	padding-top: 60px;
}

.main_body .sidebar_menu ul li a{
  color: #eee;
  font-size: 18px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
}

.main_body .sidebar_menu ul li a .icon{
  margin-right: 6px;
}

.main_body .sidebar_menu ul li a span{
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover{
  background: var(--hover-bg-color);
  color: #fff;
}

.main_body .sidebar_menu ul li a.active{
  background: var(--active-bg-color);
  color: #fff;
}

.main_body .sidebar_menu .hamburger{
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #e8edf5;
  border-radius: 50%;
  cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main_body .sidebar_menu .inner_hamburger{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: var(--main-bg-color);
}

.main_body .sidebar_menu .inner_hamburger:hover {
  background: var(--hover-bg-color);
}

.main_body .sidebar_menu .hamburger .arrow{
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger  .fa-long-arrow-alt-right{
  display: none;
}

.main_body .container{
	width: calc(100% - 250px);
	margin-top: 65px;
	margin-left: 250px;
	padding: 25px 40px;
	transition: all 0.1s linear;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section article {
  height: 300px;
  width: 500px;
  border-radius: 3px;
  margin: 10px 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.2s ease-in-out;
}

section article:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: 0.2s ease-in-out;
}

.articleHeader {
  padding: 10px;
  width: 100%;
  background-color:steelblue;
  color: white;
  border-bottom: 1px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;;
}

.articleList {
  padding: 0px 10px;
}

.articleList li {
  padding-top: 5px;
  display: flex; 
  justify-content: space-between;
}

.articleList li:hover {
  background-color: #ccc;
}

.articleList li span:hover {
  cursor: default;
}

.status {
  margin-right: 15px;
}

.status i {
  padding-left: 10px;
}

.status a {
  color: black;
  text-decoration: none;
}

.status a:visited {
  color: black;
}

.result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 15px 10px;
  height: 25px;
  width: 85%;
  margin: 10px auto;
  background-color: #ddd;
}

#pwResult {
  word-wrap: break-word;
  width: calc(100% - 50px);
  position: relative;
}

.result button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 50;
  bottom: 0;
}

.pwSubmit {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  background-color: green;
  color: white;
  border: 1px solid black;
}

.pwSubmit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px 0.5px #333;
  transition: 0.1s;
}

.pwLength {
  width: 35px;
}

.searchInput{
  display: block;
  width: 75%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 40px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
}

.listHeader {
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 10px;
  text-transform: uppercase;
}

.detailsItem {
  margin-top: 10px;
}

.detailsItem details {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.detailsItem details summary::-webkit-details-marker {
  background-color: var(--main-bg-color);;
  color: white;
  padding: 3px;
}

.detailsItem details:hover summary::-webkit-details-marker {
  background-color: var(--hover-bg-color);
}

.detailsItem details[open] {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 0.5px #aaa;
}

.detailsItem details[open] summary::-webkit-details-marker {
  background-color: var(--main-bg-color);
}

.detailsItem details summary {
  user-select: none;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.detailsItem details[open] summary {
  background-color: var(--main-bg-color);
  color: white;
}

.detailsItem details summary:hover {
  cursor: pointer;
}

.detailsItem details[open] summary ~ * {
  animation: sweep 0.1s ease-in-out;
}

.detailsItem p {
  padding: 10px 5px;
}

/* after adding active class */
.wrapper.active .sidebar_menu{
  width: 100px;
}

.wrapper.active .hamburger .fa-long-arrow-alt-right{
  display: block;
}

.wrapper.active .hamburger .fa-long-arrow-alt-left{
  display: none;
}

.wrapper.active .sidebar_menu ul li a .list{
  display: none;
}

.wrapper.active .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}


@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}